@font-face {
    font-family: 'sutregular';
    src: url("../webfonts/sut_bold-webfont.woff2") format('woff2'),
    url("../webfonts/sut_regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

@font-face {
    font-family: 'sutbold';
    src: url("../webfonts/sut_bold-webfont.woff2") format('woff2'),
    url("../webfonts/sut_bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

html {
    font-family: sutregular;
}

body {
    font-family: sutregular;
    font-size: 14pt;
    color: rgb(124, 124, 124);
    line-height: 2;
    background-image: url(./images/overlay.png), linear-gradient(64deg, #191140 15%, #1b5ec6 85%);
}

p {
    font-size: 16pt;
}

.spotlight .image img {
    display: block;
    width: 100%;
}

#intro {
    padding: 5em 5em 3em 5em;
}

/* Add new Code for lab */
button {
    padding : 1rem 3rem 1rem 3rem !important;
}

#footer {
    color: white;
}

.spotlight .image {
    display: inline-block;
    padding: 0.65em;
    border-radius: 100%;
    border: solid 1px;
}

.spotlight .image img {
    display: block;
    border-radius: 100%;
    width: 16em;
}

.tag {
    border-left: 5px solid rgb(95, 97, 200); /* Adjust the width (2px) as needed */
    padding: 0 0 0 10px;
}
