$white: #ffffff;
$sutfont: "sutregular";
$blue1: rgba(25, 18, 65, 1) 0%;
$blue2: rgba(25, 21, 71, 1) 19%;
$blue3: rgba(25, 32, 90, 1) 37%;
$blue4: rgba(25, 50, 120, 1) 58%;
$blue5: rgba(26, 74, 162, 1) 77%;
$blue6: rgba(27, 95, 197, 1) 100%;
$red_grad1: rgba(221, 32, 106, 1) 0%;
$red_grad2: rgba(222, 38, 104, 1) 22%;
$red_grad3: rgba(227, 57, 101, 1) 47%;
$red_grad4: rgba(234, 87, 95, 1) 75%;
$red_grad5: rgba(241, 113, 90, 1) 100%;