h1,h2,h3{
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 1.7rem;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
}

input[type=text] {
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  border-style: solid;  
  color: white;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: white;
  border: none;
  color:black;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

html {
  overflow: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
  height: 100%;
}

.header,
.menu,
.content,
.footer {
  padding: 5px 10px;
}

.header {
  height: 70%;
  transform-style: inherit;
  position: relative;
}

.header ::before {
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  background: url("./assets/header.jpg");
  background-position: center center;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  animation: fadein 2.5s;
}
@keyframes fadein {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.2);
}


.zoom-btn {
  transition: transform 0.5s;
}

.zoom-btn:hover{
  transform: scale(1.1);
}

.contact {
  background-image: url(./assets/contact.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
}

.wrapper-vertical {
  display: flex;
  flex-direction: column;
}


.item{
  padding: 2%;
  transition: opacity 0.3s;
}

.item:hover{
  opacity: 70%;
}

.icon {
  text-align: center;
}

.zoom-icon {
  transition: transform 0.2s;
}

.zoom-icon:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 10px grey, 0px 10px 10px lightgrey;
}

.zoom-icon > h2 {
  transition: transform 0.2s;
}

.zoom-icon > h2:hover {
  transform: scale(1.2);
  text-shadow: 0px 3px 3px grey, 0px 3px 3px lightgrey;
}

.menu {
  display: flex;
  width: 150px;
  background-color: #ef776e;
  align-items: center;
  height: 300px;
}
.content {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #f9cc6e;
}
.footer {
  background-color: #a1cdb6;
}
